TELEGRAM_BOT_TOKEN=5817729079:AAFrERAM6DhIn7_fJMAsULgkmw_GBXt6IDk
TWITTER_ACCESS_TOKEN=1559014698669989888-XnKJnsrz2zap0Dxu12sWi2DknVcNos
TWITTER_ACCESS_TOKEN_SECRET=y7u0xg1Hb0cwe8bE58ZUSUpL3wwhYu9SmFpdRllf5xkAo
TWITTER_CONSUMER_SECRET=ja8UIjiurS222rM2HACk83HbQqPyJnJJbheo6UWUKL7TpsyzY3
TWITTER_CONSUMER_KEY=FKvmP3tmrBTYkXNn83X6q0zFZ
